<?xml version="1.0"?>
<LoginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DataSource>SCHOEDINGER\SQLEXPRESS</DataSource>
  <Username>Mosaka85</Username>
  <Password>MiaraBlueM0$@K@85!</Password>
  <SelectedDatabase>MiaradbBlue</SelectedDatabase>
</LoginInfo>